@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-print-css/css/bootstrap-print";

@page {
  size: auto;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

footer {
  margin-top: auto;
  padding-top: 5rem;
  .container-fluid {
    padding: 1rem 0;
    p {
      margin: 0.5rem 0;
    }
  }
}

.form-group {
  margin-bottom: 1rem !important;
}

.form-group > label {
  margin-bottom: 0.5rem;
}

.custom-select {
  @extend .form-select !optional;
}

.nav-link:hover {
  text-decoration: none;
}

.btn:hover,
.btn:focus,
.page-link:hover,
.page-link:focus {
  text-decoration: none;
}

.btn-link {
  color: #007bff;
  text-decoration: none;
}

.btn-link:hover,
.btn-link:focus {
  color: #0056b3;
  text-decoration: underline;
}

.btn-outline-info:hover,
.btn-outline-info:active {
  color: white !important;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.badge {
  text-decoration: none;
}

a.badge:hover {
  color: #fff;
}

a.bg-secondary:hover,
a.bg-secondary:focus {
  background-color: #545b62 !important;
}

a.bg-info:hover,
a.bg-info:focus {
  background-color: #117a8b !important;
}

a.bg-success:hover,
a.bg-success:focus {
  background-color: #00401e !important;
}

a.bg-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

a.bg-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 115, 54, 0.5);
}

a.bg-secondary:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

@media print {
  // Some browsers do not handle printing layouts with flexbox. This should be
  // fixed in Bootstrap.
  // https://github.com/twbs/bootstrap/issues/26781
  .row {
    display: block;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

div.header {
  /* Old browsers */
  height: 96px;
}

.top {
  background-color: #00709e;
}

// Developement runs will flash orange top bar.
body.debug {
  .top {
    background-color: rgb(217, 89, 0);
  }
}

div.top .topbar .inline-inputs label {
  float: none;
  color: #ffffff;
}

#login-dropdown {
  .dropdown-menu {
    padding: 12px;
    background: rgba($light, 0.75);

    .btn {
      padding: 10px 5px;
      margin: 10px auto;
      display: block;
      text-align: center;
      background-image: none;
      border: none;
      font-weight: bolder;
      width: 100%;
    }

    #btn-usos {
      padding: 5px;
    }
  }
}

#sidebar {
  @include media-breakpoint-down(lg) {
    #sidebar-inner {
      /* :after will position itself against nearest positioned parent, so we
       * need to ensure that it will be this sidebar */
      position: relative;
      overflow-y: hidden;

      &.folded {
        max-height: 200px;

        // Blurs over the bottom of filter card.
        &:after {
          position: absolute;
          display: block;
          bottom: 0;
          height: 50%;
          width: 100%;
          content: "";
          // Bootstrap light colour.
          background: linear-gradient(
            to top,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%
          );
          pointer-events: none; /* so the text is still selectable */
        }
      }
    }
    #fold-toggler {
      display: block;
      text-align: center;
    }
  }
  @include media-breakpoint-up(lg) {
    #fold-toggler {
      display: none;
    }
  }
}

div.loginbox {
  background-color: #f5f5f5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#system_menu {
  width: 100%;
  padding: unset;
  ul#main-menu-list {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    border-bottom: 0;
    li {
      flex: 0 0 auto;
      margin: 0 2px;
      a {
        background-color: #005f92;
        color: #ffffff;
        margin-right: 1px;
      }

      &.active a {
        background-color: #ffffff;
        color: #005f92;
        margin-right: 1px;
      }
    }
  }
}

colgroup col.table-info-offer {
  width: 1%;
}

.table-offer th {
  white-space: nowrap;
  background-color: #f9f9f9;
}

@include media-breakpoint-down(lg) {
  #table-offer th {
    white-space: normal;
  }
}

// Required field marker in forms.
.asteriskField {
  padding-left: 0.25em;
  color: var(--bs-red);
}

// News items on the main page and the news page.
.od-news-item {
  margin: 2rem 0;
  padding: 4rem;
  background: var(--bs-light);

  .od-news-date {
    color: var(--bs-dark);
    font-style: italic;
    display: block;
    @include media-breakpoint-up(lg) {
      float: right;
    }
  }

  .od-news-author {
    font-style: italic;
    font-variant: small-caps;
    font-size: 120%;
  }

  a {
    text-decoration: underline;
  }

  // The news pops out slightly on hover.
  &:hover {
    transform: scale(1.01, 1.01);
    transition: transform 250ms;
  }
}

.background-gray {
  background-color: $gray-200;
}
