@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-print-css/css/bootstrap-print";

:root {
  --banner-color: #d95900; //kolor górnego paska (pomarańczowy w developmencie)
  --primary-color: #007bff; /* Jasny tryb - kolor główny #007bff*/
  --secondary-color: #6c757d;
  --background-color: #ffffff;
  --breadcrumb-bg: var(--main-background-color); //background "folderu na linki" (był w variables)
  --text-color: #000000;
  --tab-background-color: #0077b7;
  --tab-text-color: #0077b7;
  --main-background-color: #ffffff;
  --tag-highliht-color: #ffffff;
  --loginbox-background-color: #f5f5f5;
  --dropdown-background-color: #848484bf;
  --news--background-color: #f9f9f9;
  --news--date-color: #000000;
  --footer-text-color: #000000;
}

body.dark-mode {
  --banner-color: #893809;
  --primary-color: #0d6efd; /* Ciemny tryb - kolor główny */
  --secondary-color: #938a82;
  --background-color: #000000;
  --breadcrumb-bg: var(--main-background-color); //background "folderu na linki"
  --text-color: #ffffff;
  --tab-background-color: #005f92;
  --tab-text-color: #41ace5;
  --main-background-color: #1e1e1e;
  --tag-highliht-color: #ffffff;
  --loginbox-background-color: #504d4d;
  --dropdown-background-color: #848484bf;
  --news--background-color: #4d4747;
  --news--date-color: #ffffff;
  --footer-text-color: #ffffff;
}


@page {
  size: auto;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

footer {//chcę ustawić kolor stopki
  margin-top: auto;
  padding-top: 5rem;
  .container-fluid { // trzeba znaleźć klasę stopki
    background-color: #00401e;
    padding: 1rem 0;
    p {
      margin: 0.5rem 0;
    }
  }
  
  color: var(--footer-text-color); // kolor tekstu w stopce
}

.form-group {
  margin-bottom: 1rem !important;
}

.form-group > label {
  margin-bottom: 0.5rem;
}

.custom-select {
  @extend .form-select !optional;
}

.nav-link:hover {
  text-decoration: none;
}

.btn:hover,
.btn:focus,
.page-link:hover,
.page-link:focus {
  text-decoration: none;
}

.btn-link {
  color: #1bb300;//var(--primary-color); // literki na pracownikach na filtrowaniu
  text-decoration: none;
}

.btn-link:hover,
.btn-link:focus {
  color: #0056b3; //nwm co to
  text-decoration: underline;
}

.btn-outline-info:hover,
.btn-outline-info:active {
  color: rgb(175, 5, 5) !important; //nwm co to
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.badge {
  text-decoration: none;
}

a.badge:hover {
  color: var(--tag-highliht-color); // podświetlenie tagów (przedmioty)
}

a.bg-secondary:hover,
a.bg-secondary:focus {
  background-color: #545b62 !important;
}

a.bg-info:hover,
a.bg-info:focus {
  background-color: #117a8b !important;
}

a.bg-success:hover,
a.bg-success:focus {
  background-color: #00401e !important;
}

a.bg-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

a.bg-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 115, 54, 0.5);
}

a.bg-secondary:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

@media print {
  // Some browsers do not handle printing layouts with flexbox. This should be
  // fixed in Bootstrap.
  // https://github.com/twbs/bootstrap/issues/26781
  .row {
    display: block;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

div.header {
  /* Old browsers */
  height: 96px;
}

.top {
  background-color: #00709e;
}

// Developement runs will flash orange top bar.
body.debug {
  .top {
    background-color: var(--banner-color); //tutaj trzeba zedytować
  }
  background-color: var(--main-background-color); /* Do rozpatrzenia inne kolory */
  color: var(--text-color);
}

div.top .topbar .inline-inputs label {
  float: none;
  color: #ffffff; // kolor tekstu w górnym pasku
}

#login-dropdown {
  .dropdown-menu {
    padding: 12px;
    background: var(--dropdown-background-color);//rgba($light, 0.75);

    .btn {
      padding: 10px 5px;
      margin: 10px auto;
      display: block;
      text-align: center;
      background-image: none;
      border: none;
      font-weight: bolder;
      width: 100%;
    }

    #btn-usos {
      padding: 5px;
    }
  }
}

#sidebar {
  @media (max-width: 992px) {
    #sidebar-inner {
      /* :after will position itself against nearest positioned parent, so we
       * need to ensure that it will be this sidebar */
      position: relative;
      overflow-y: hidden;

      &.folded {
        max-height: 200px;

        // Blurs over the bottom of filter card.
        &:after {
          position: absolute;
          display: block;
          bottom: 0;
          height: 50%;
          width: 100%;
          content: "";
          // Bootstrap light colour.
          background: linear-gradient(
            to top,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%
          );
          pointer-events: none; /* so the text is still selectable */
        }
      }
    }
    #fold-toggler {
      display: block;
      text-align: center;
    }
  }
  @media (min-width: 992px) {
    #fold-toggler {
      display: none;
    }
  }
}

div.loginbox {
  background-color: var(--loginbox-background-color); // okienko logowania dla niedostępnych dla każdego stron
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#system_menu {
  width: 100%;
  padding: unset;
  ul#main-menu-list {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    border-bottom: 0;
    li {
      flex: 0 0 auto;
      margin: 0 2px;
      a { // nieaktywna zakładka
        background-color: var(--tab-background-color); //kolor tła zakładek
        color: #ffffff; // kolor tekstu na zakładkach
        margin-right: 1px;
      }

      &.active a { // aktywna zakładka
        background-color: var(--main-background-color);
        color: var(--tab-text-color);
        margin-right: 1px;
      }
    }
  }
}

colgroup col.table-info-type {
  background-color: #ab0202; // tutaj trzeba zedytować (nwm co to zmienia)
}

// Required field marker in forms.
.asteriskField {
  padding-left: 0.25em;
  color: var(--bs-red); // tutaj trzeba zedytować
}

// News items on the main page and the news page.
.od-news-item {
  margin: 2rem 0;
  padding: 4rem;
  background: var(--news--background-color); // tutaj trzeba zedytować

  .od-news-date {
    color: var(--news--date-color); // tutaj trzeba zedytować
    font-style: italic;
    display: block;
    @media (min-width: 992px) {
      float: right;
    }
  }

  .od-news-author {
    font-style: italic;
    font-variant: small-caps;
    font-size: 120%;
  }

  a {
    text-decoration: underline;
  }

  // The news pops out slightly on hover.
  &:hover {
    transform: scale(1.01, 1.01);
    transition: transform 250ms;
  }
}

.background-gray {
  background-color: #ff1e00//$gray-200;// tutaj trzeba zedytować
}
