{% load render_bundle from webpack_loader %}

<div id="employee-profile">
	<h3>{{employee.get_full_name}}</h3>
	<table class="table table-condensed table-infobox">
		<colgroup>
			<col class="header-column"></col>
		</colgroup>
		{% if user.is_authenticated %}
			<tr>
				<th>Adres e-mail</th>
				<td>
					{% if employee.user.email %}
						<a href="mailto:{{employee.user.email}}">
							{{employee.user.email}}
						</a>
					{% else %}
						brak danych
					{% endif %}
				</td>
			</tr>
		{% endif %}
			<tr>
				<th>Strona domowa</th>
				<td>
					{% if employee.homepage %}
						<a href="{{employee.homepage}}">{{employee.homepage}}</a>
					{% else %}
						brak danych
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>Pokój</th>
				<td>
						{{employee.room|default_if_none:"brak danych"}}
				</td>
			</tr>
	</table>
	{% if employee.consultations %}
		<h3>Konsultacje</h3>
		<p>{{ employee.consultations }}</p>
	{% endif %}

	<div class="row my-4">
		<div class="col-lg-8 col-12 mb-3">
			<h3 class="subheader">Plan zajęć</h3>
		</div>
		<nav class="col-lg-4 col-12 d-print-none">
			{% include "timetable/semester_dropdown.html" with url_pattern_name="employee-profile-semester" user_id=employee.user_id async_fetch=True %}
		</nav>
	</div>
	<div id="timetable"></div>
	<div id="timetable-data-div" data-js-sem-depend>
		{{ groups_dicts|json_script:"timetable-data" }}
	</div>
	{% render_bundle 'timetable-timetable-component' %}
</div>
