{% extends "enrollment/base.html" %}
{% load compressed %}
{% load cache %}
{% load render_bundle from webpack_loader %}

{% block main-subtitle %}Lista pracowników{% endblock %}

{% block bread %}
  <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
  <li class="breadcrumb-item"><a href="/courses">Zapisy</a></li>
  <li class="breadcrumb-item active" aria-current="page">Pracownicy</li>
{% endblock %}

{% block enrollment_menu_employees %} class="active"{% endblock %}

{% block content %}
    {% if employee %}
    	{% include "users/employee_profile_contents.html" %}
    {% else %}
        <div class="alert alert-primary">
            Wybierz pracownika z listy
        </div>
        <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Konsultacje
        </a>
        <div class="collapse mt-2" id="collapseExample" >
                {% include "users/consultations_list.html" %}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ employees_dict|json_script:"user-list-json-script" }}
    <div id="user-link" data="{%  url 'employee-profile' %}" style="display:none;"></div>

    <div id="main-sidebar" class="col-lg">
        <h3>Lista pracowników</h3>
        <div id="employee-list"></div>
    </div>
{% endblock %}

{% block top-content %}
    <div id="employee-filter"></div>
{% endblock %}
{% block rendered_bundles %}
    {% render_bundle 'users-user-filter'%}
{% endblock rendered_bundles %}