{% extends "newbase.html" %}
{% load compressed %}


{% block main-navigation %}
    <li>Zaloguj</li>
{% endblock %}

{% block styles %}
	{% compressed_css "login" %}
{% endblock %}

{% block bread %}
	<a href="{% url 'main-page' %}">Strona główna</a> &raquo;
	Logowanie
{% endblock %}

{% block main-subtitle %}Logowanie{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p class="main-message">Jesteś już zalogowany. Możesz się <a href="{% url 'user-logout' %}">wylogować</a>.</p>
    {% else %}
        {% if form.errors %}
            <p class="main-message">Podany identyfikator i hasło się nie zgadzają. Spróbuj ponownie.</p>
        {% endif %}


    <div class="container">
        <p class="info-header additional-margin">Logowanie</p>
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="container">
            <div class="row show-grid">
                <div class="col-md-3 col-xs-12 loginbox inner-conatiner">
                    <form class="form-stacked additional-margin" action="{% url 'user-login' %}" method="POST">
                        {% csrf_token %}
                        <fieldset>
                        <div class="clearfix">
                            <label for="id_username" class="col-form-label">Username:</label>
                            <div class="input">
                                <input type="text" name="username" autofocus="" maxlength="254" required="" id="id_username"  class="form-control">
                            </div>
                        </div>
                        <div class="clearfix">
                            <label for="is_password" class="col-form-label">Hasło:</label>
                            <div class="input">
                                <input type="password" name="password" required="" id="id_password" class="form-control">
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="input row">
                                <label for="xlInput3" class="checkbox-label">Zapamiętaj mnie:</label>
                                <input type="checkbox" name="remember_me"  id="xlInput3"  value="true"/>
                                    <input type="hidden" name="next" value="{{ next }}" />
                            </div>
                        </div>
                        </fieldset>
                <div>
                <button class="btn primary" type="submit">Logowanie</button>
                </div>
                    <script type="text/javascript">
                    /* <![CDATA[ */
                        $('#id_username').focus();
                    /* ]]> */
                </script>
            </form>
        </div>
        <div class="col-md-6 col-xs-12 ml-md-3">
            <p>
                <p class="info-header">Jak zdobyć hasło?</p>
                Każdy student Uniwersytetu Wrocławskiego może zalogować się poprzez USOS. Dozwolone jest również alternatywne uwierzytelnianie za pomocą loginu i hasła. Jeśli takiego nie masz, <a href="mailto:zapisy@cs.uni.wroc.pl">napisz do administratora</a>
            </p>
            <p>
                <p class="info-header">Nie pamiętasz hasła?</p>
                Skorzystaj z naszego <a href="{% url 'password_reset' %}">formularza</a>. Jeżeli to nie pomoże skontaktuj się z
                dziekanatem.
            </p>
        </div>
        </div>
        </div>
</div>

    {% endif %}

{% endblock %}
