{% extends "newbase.html" %}
{% load compressed %}
{% load static %}

{% block styles %}
  {% compressed_css 'my_profile' %}
  <link rel="stylesheet" href="{% static "css/users/my_profile.css" %}" type="text/css">
{% endblock %}

{% block bread %}
    <a href="/">Strona główna</a> &raquo;
Resetuj hasło
{% endblock %}

{% block main-subtitle %}Resetuj hasło{% endblock %}

{% block content %}
<div class="container">
  <form action="" method="post" autocomplete="off">{% csrf_token %}
    <fieldset>
      <p class="info-table-header">Resetuj hasło</p>
          <div class="form-group row clearfix">
              <label for="id_email" class="col-sm-1 col-form-label">Email</label>
              <div class="input">
                <input type="text" size="30" name="email" id="id_email" class="xlarge form-control">
              </div>
            </div>
          <div class="actions">
              <input type="submit" class="btn success" value="Resetuj">
          </div>
    </fieldset>
  </form>
</div>
{% endblock %}