{% extends "newbase.html" %}
{% load compressed %}
{% load static %}

{% block styles %}
  {% compressed_css 'my_profile' %}
  <link rel="stylesheet" href="{% static "css/users/my_profile.css" %}" type="text/css">
{% endblock %}

{% block bread %}
  <a href="/">Strona główna</a> &raquo;
  <a href="{% url 'my-profile' %}">Moje konto</a> &raquo;
Zmień hasło
{% endblock %}

{% block main-subtitle %}Zmień hasło{% endblock %}

{% block content %}
<div class="container">
  <form action='' method="post" autocomplete="off">{% csrf_token %}
    <fieldset>
        <p class="info-table-header">Zmień hasło</p>
        <div class="form-group row">
          <label for="id_old_password" class="col-sm-2 col-form-label">Stare hasło</label>
          <div class="input">
            <input type="password" size="30" name="old_password" id="id_old_password" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="id_new_password1" class="col-sm-2 col-form-label">Nowe hasło</label>
          <div class="input">
            <input type="password" size="30" name="new_password1" id="id_new_password1" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="id_new_password2" class="col-sm-2 col-form-label">Nowe hasło ponownie</label>
          <div class="input">
            <input type="password" size="30" name="new_password2" id="id_new_password2" class="form-control">
          </div>
        </div>
        <div class="actions">
          <input type="submit" class="btn success" value="Zmień">
        </div>
    </fieldset>
  </form>
</div>

{% endblock %}



