{% extends "newbase.html" %}
{% load compressed %}
{% load static %}

{% block styles %}
  {% compressed_css 'my_profile' %}
  <link rel="stylesheet" href="{% static "css/users/my_profile.css" %}" type="text/css">
{% endblock %}

{% block main-subtitle %}Resetuj hasło{% endblock %}

{% block main-navigation %}
<li>Resetuj hasło</li>
{% endblock %}

{% block content %}
<p class="message">
	Instrukcje dalszego postępowania zostały wysłane na podany adres e-mail. Powinieneś otrzymać je niebawem.
</p>
{% endblock %}
