{% load render_bundle from webpack_loader %}

<div id="student-profile">
	<h3 class="subheader">{{student.get_full_name}}</h3>
	<table class="table table-condensed table-infobox">
			<colgroup>
				<col class="header-column"></col>
			</colgroup>
		<tr>
			<th>Adres e-mail</th>
			<td>
				{% if student.user.email %}
					<a href="mailto:{{student.user.email}}">
						{{student.user.email}}
					</a>
				{% else %}
					brak danych
				{% endif %}
			</td>
		</tr>
        <tr>
            <th>Nr indeksu</th>
            <td>{{student.matricula}}</td>
        </tr>
        <tr>
            <th>Rodzaj studiów</th>
            <td>{{student.program}}</td>
        </tr>
        <tr>
            <th>Semestr</th>
            <td>{{student.semestr}}</td>
        </tr>
        {% if user.is_staff or user.employee %}
        <tr>
            <th>Punkty ECTS</th>
            <td>{{student.ects}}</td>
        </tr>
        {% endif %}
	</table>

	<div class="row my-4">
		<div class="col-lg-8 col-12 mb-3">
			<h3 class="subheader">Plan zajęć</h3>
		</div>
		<nav class="col-lg-4 col-12 d-print-none">
			{% include "timetable/semester_dropdown.html" with url_pattern_name="student-profile-semester" user_id=student.user_id async_fetch=True %}
		</nav>
	</div>
	<div id="timetable"></div>
	{{ groups_dicts|json_script:"timetable-data" }}
	{% render_bundle 'timetable-timetable-component' %}
</div>
