{% extends "enrollment/base.html" %}
{% load compressed %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block main-subtitle %}Lista studentów{% endblock %}

{% block bread %}
  <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
  <li class="breadcrumb-item"><a href="/courses">Zapisy</a></li>
  <li class="breadcrumb-item active" aria-current="page">Studenci</li>
{% endblock %}


{% block enrollment_menu_students %} class="active"{% endblock %}

{% block top-content %}
    <div id="student-filter"></div>
{% endblock %}

{% block content %}
    <div id="student-profile">
    <div class="alert alert-primary">
        Wybierz studenta z listy
    </div>
</div>
{% endblock %}


{% block sidebar %}
    <div id="student-json-container" data="{{ json_students }}" style="display:none;"></div>
<div id="main-sidebar">
    <div id="student-list"></div>
</div>
{% endblock %}
{% block rendered_bundles %}
    {% render_bundle 'users-user-filter'%}
{% endblock rendered_bundles %}