$font-size-base: 0.78rem;

$display1-size:               $font-size-base * 4.5 !default;
$display2-size:               $font-size-base * 4 !default;
$display3-size:               $font-size-base * 3.5 !default;
$display4-size:               $font-size-base * 3 !default;

$enable-responsive-font-sizes: true;
$breadcrumb-bg: #ffffff;
