{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% load crispy_forms_tags %}

{% block main-subtitle %}System prac dyplomowych{% endblock %}

{% block theses_active %} class="active"{% endblock %}

{% block all-content %}
<div id="thesis-root">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="d-inline-block">
        {% if new_thesis %}
            Dodawanie nowej pracy dyplomowej
        </h1>
        {% else %}
            Edycja pracy dyplomowej
        </h1>
        <form action="{% url 'theses:delete_thesis' id %}" method="POST" class="post-form">
            {% csrf_token %}
            <div class="text-right">
            <input class="btn btn-default btn-danger confirm-delete float-right align-bottom ml-3" name="delete" type="submit" value="Usuń pracę"/>
            <script>
                $(document).on('click', '.confirm-delete', function(){
                    return confirm('Czy na pewno chcesz usunąć tę pracę dyplomową?');
                })
            </script>
            </div>
        </form>
        {% endif %}
    </div>
    <form method="POST" class="post-form confirm-submit">
        {% csrf_token %}
        {% crispy thesis_form %}
    </form>
    {% if confirm_changes %}
    <script>
        var title = document.getElementsByName('title')[0].value
        var advisor = document.getElementsByName('advisor')[0].value
        var supporting_advisor = document.getElementsByName('supporting_advisor')[0].value
        var kind = document.getElementsByName('kind')[0].value
        var max_number_of_students = document.getElementsByName('max_number_of_students')[0].value

        $(document).on('submit', '.confirm-submit', function() {
            var confirm_msg = 'Zapisanie zmian spowoduje ponowne przesłanie pracy do komisji.\n' +
                    'Czy na pewno chcesz zapisać zmiany w pracy dyplomowej?';
            if(document.getElementsByName('title')[0].value != title) {
                return confirm(`Zmieniono tytuł pracy.\n${confirm_msg}`);
            }
            if(document.getElementsByName('advisor')[0].value != advisor) {
                return confirm(`Zmieniono promotora pracy.\n${confirm_msg}`);
            }
            if(document.getElementsByName('supporting_advisor')[0].value != supporting_advisor) {
                return confirm(`Zmieniono promotora wspierającego.\n${confirm_msg}`);
            }
            if(document.getElementsByName('kind')[0].value != kind) {
                return confirm(`Zmieniono typ pracy.\n${confirm_msg}`);
            }
            if(document.getElementsByName('max_number_of_students')[0].value != max_number_of_students) {
                return confirm(`Zmieniono maks. liczba studentów.\n${confirm_msg}`);
            }
        })
    </script>
    {% endif %}
</div>
{% endblock %}
