{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% load crispy_forms_tags %}

{% block main-subtitle %}System prac dyplomowych{% endblock %}

{% block theses_active %} class="active"{% endblock %}

{% block all-content %}
<div id="thesis-root">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="d-inline-block">
        {% if new_thesis %}
            Dodawanie nowej pracy dyplomowej
        </h1>
        {% else %}
            Edycja pracy dyplomowej
        </h1>
        <form action="{% url 'theses:delete_thesis' id %}" method="POST" class="post-form">
            {% csrf_token %}
            <div class="text-end">
            <input class="btn btn-default btn-danger confirm-delete float-end align-bottom ms-3" name="delete" type="submit" value="Usuń pracę"/>
            <script>
                $(document).on('click', '.confirm-delete', function(){
                    return confirm('Czy na pewno chcesz usunąć tę pracę dyplomową?');
                })
            </script>
            </div>
        </form>
        {% endif %}
    </div>
    {% if confirm_changes %}
    <div class="alert alert-warning d-flex justify-content-between align-items-center mt-2">
        <div class="d-inline-block">
            Temat został już zaakceptowany przez komisję. Wprowadzenie zmian innych niż dotyczące
            daty rezerwacji i przypisanych studentów spowoduje przesłanie go z powrotem do decyzji komisji.
        </div>
        <button class="btn btn-primary float-end edit-term-form ms-3" id="resetbtn" style="display: inline-block; white-space: normal; word-wrap: break-word;"> 
            Cofnij zmiany wymagające zgody komisji 
        </button>
    </div>
    {% endif %}

    <form method="POST" id="confirm-submit" class="post-form">
        {% csrf_token %}
        {% crispy thesis_form %}
        <input type="hidden" id="ajax-url" value="{% url 'theses:students' %}" />
        {% render_bundle 'theses-student-search' %} 
    </form>
    {% if confirm_changes %}
        {{ old_instance|json_script:"old_instance" }}
        {% render_bundle 'theses-theses-change' %} 
    {% endif %}
</div>
{% endblock %}
