{% extends "newbase.html" %}


{% block statistics_active %} class="active"{% endblock %}
{% block main-subtitle %}Statystyki{% endblock %}
{% block content-width %}16{% endblock %}


{% block system_menu %}
    <li {% block students_active %}{% endblock %} class="nav-item">
        <a class="nav-link" href="{% url 'statistics:students' %}">Studenci</a>
    </li>

    <li {% block groups_active %}{% endblock %} class="nav-item">
        <a class="nav-link" href="{% url 'statistics:groups' %}">Grupy</a>
    </li>

    <li {% block swaps_active %}{% endblock %} class="nav-item">
        <a class="nav-link" href="{% url 'statistics:swap' %}">Swapy</a>
    </li>

    <li {% block vote_active %}{% endblock %} class="nav-item">
        <a class="nav-link" href="{% url 'statistics:vote' %}">Głosowanie</a>
    </li>
{% endblock %}
