{% extends "statistics/base.html" %}
{% load render_bundle from webpack_loader %}

{% load filters %}
{% load course_types %}

{% block statistics-groups-active %}active{% endblock %}

{% block statistics-content %}

{{ courses_list|json_script:"statistics-data" }}

<div class="table-responsive">
    <div id="statistics-filter"></div>
    <p class="row justify-content-center">
    <div id="statistics-list"></div>
</div>
{% endblock %}

{% block rendered_bundles %}
    {% render_bundle 'statistics-widget' %}
{% endblock %}
