{% extends "offer/vote/summary.html" %}
{% load i18n %}

{% block main-subtitle %}Podsumowanie głosowania: {{ proposal.name }}{% endblock %}

{% block bread %}
    <a href="/">{% trans "Strona główna" %}</a> &raquo;
    <a href="{% url offer-main %}">{% trans "Oferta dydaktyczna %}</a> &raquo;
    <a href="{% url vote-main %}">{% trans "Głosowanie" %}</a> &raquo;
    <a href="{% url vote-summary %}">{% trans "Podsumowanie" %}</a> &raquo;
    <h2>{{ proposal.name }}</h2>
    {# end bread #}
{% endblock %}


{% block content %}
	<div id="od-vote-summary-proposal">
		<p>{% blocktrans %}
			Na ten przedmiot zagłosowało osób: <strong>{{ votes }}</strong>;
			oddając punktów: <strong>{{ points }}</strong>.
		{% endblocktrans %}</p>
		{% if voters %}
			<h3>Lista głosujących na ten przedmiot</h3>
			<table>
				<thead>
					<tr>
						<th>{% trans "Imię" %}</th>
						<th>{% trans "Nazwisko" %}</th>
                        <th>Numer indeksu</th>
						<th title="Liczba punktów, jakie student przeznaczył na ten przedmiot">Punkty</th>
					</tr>
				</thead>
				<tbody>
					{% for voter in voters %}
						<tr>
							<td>{{ voter.student.user.first_name }}</td>
							<td>{{ voter.student.user.last_name }}</td>
							<td>{{ voter.student.matricula }}</td>
							<td class="number">{{ voter.correction   }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<div class="main-message">{% trans "Nikt nie zagłosował na ten przedmiot" %}.</div>
		{% endif %}
	</div>
{% endblock %}
