{% extends "offer/base.html" %}
{% block offer_menu_plan %} class="active"{% endblock %}
{% block content %}
<h1>Stwórz przydział zajęć</h1>
<a href="https://docs.google.com/spreadsheets/d/{{ voting_results_sheet_id }}" target="_blank" class="d-block mb-1 mt-4">>> Wyniki głosowania - arkusz Google</a>
<a href="https://docs.google.com/spreadsheets/d/{{ plan_proposal_sheet_id }}" target="_blank" class="d-block mb-1">>> Proponowany przydział zajęć - arkusz Google</a>
<a href="https://docs.google.com/spreadsheets/d/{{ employees_sheet_id }}" target="_blank" class="d-block mb-1">>> Pracownicy - arkusz Google</a>
<a href="https://docs.google.com/spreadsheets/d/{{ class_assignment_sheet_id }}" target="_blank" class="d-block mb-5">>> Przydział zajęć - arkusz Google</a>

<p class="lead">Aby wygenerować arkusz z wynikami głosowań z ostatnich 3 lat kliknij guzik pod spodem:</p>
<a href="{% url 'plan-create-voting-sheet' %}" class="btn btn-primary btn-lg mb-5">Generuj arkusz</a>

<h4>Przedmioty na następny rok:</h4>
<p class="lead">
    Proponowane przedmioty są już zaznaczone. Aby je usunąć lub dodać inne prosimy zaznaczyć/odznaczyć checkboxy.
    <br>(Aby wygenerować arkusz trzeba najpierw zaakceptować przedmioty)
</p>


<form class="mt-5" action="{% url 'plan-vote' %}" method="post">
    {% csrf_token %}
    <div class="d-flex justify-content-between">
        <div class="mr-2">
            <h4>Przedmioty zimowe:</h4>
            <table class="table">
                <thead class="bg-primary">
                    <tr>
                        <th scope="col" class="text-white"></th>
                        <th scope="col" class="text-white">Przedmiot</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course, semester, is_set in courses_proposal %}
                        {% if semester == 'z' %}
                            <tr>
                                {% if is_set %}
                                    <th scope="row"><input type="checkbox" name="{{ course }}" checked></th>
                                {% else %}
                                    <th scope="row"><input type="checkbox" name="{{ course }}"></th>
                                {% endif %}
                                <td>{{ course }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <h4>Przedmioty letnie:</h4>
            <table class="table">
                <thead class="bg-primary">
                    <tr>
                        <th scope="col" class="text-white"></th>
                        <th scope="col" class="text-white">Przedmiot</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course, semester, is_set in courses_proposal %}
                        {% if semester == 'l' %}
                            <tr>
                                {% if is_set %}
                                    <th scope="row"><input type="checkbox" name="{{ course }}" checked></th>
                                {% else %}
                                    <th scope="row"><input type="checkbox" name="{{ course }}"></th>
                                {% endif %}
                                <td>{{ course }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <button type="submit" class="btn btn-primary m-auto">Zaakceptuj przedmioty</button>
</form>
{% endblock %}