{% extends "offer/base.html" %}
{% block offer_menu_plan %} class="active"{% endblock %}

{% block content %}
<div class="d-flex justify-content-between mb-5">
    <h2>Przydział zajęć</h2>
    <a href="{% url 'plan-create' %}" class="btn btn-primary btn-lg">Kreator przydziałów</a>
</div>

{% if not is_empty %}
<div>
    <h3 class="assignment-courses mb-3">Przydział według przedmiotów</h3>
    <div class="mb-3">
        <h4 class="winter-semester">Semestr zimowy</h4>
        <div>
            {% for course in winter %}
                <div>
                    <div class="bg-primary">
                        <h6 class="text-light p-2 mb-0">{{ course.course }}</h6>
                    </div>
                    <div class="p-2" style="background: #E5E5E5">
                        {% if course.w %}
                            <div>
                                <p class="d-inline">wykład ({{ course.w.weekly }}h/tydzień): </p>
                                {% for teacher in course.w.teachers %}
                                    {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if course.rep %}
                            <div>
                                <p class="d-inline">repetytorium ({{ course.rep.weekly }}h/tydzień): </p>
                                {% for teacher in course.rep.teachers %}
                                    {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if course.ćw %}
                            <div>
                                <p class="d-inline">ćwiczenia ({{ course.ćw.weekly }}h/tydzień): </p>
                                {% for teacher in course.ćw.teachers %}
                                    {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if course.prac %}
                            <div>
                                <p class="d-inline">pracownia ({{ course.prac.weekly }}h/tydzień): </p>
                                {% for teacher in course.prac.teachers %}
                                    {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if course.ćw_prac %}
                            <div>
                                <p class="d-inline">ćwiczenia+pracownia ({{ course.ćw_prac.weekly }}h/tydzień): </p>
                                {% for teacher in course.ćw_prac.teachers %}
                                    {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if course.sem %}
                            <div>
                                <p class="d-inline">seminarium ({{ course.sem.weekly }}h/tydzień): </p>
                                {% for teacher in course.sem.teachers %}
                                    {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if course.admin %}
                            <div>
                                <p class="d-inline">admin ({{ course.admin.weekly }}h/tydzień): </p>
                                {% for teacher in course.admin.teachers %}
                                   {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="mb-3">
        <h4 class="summer-semester">Semestr letni</h4>
        <div>
            {% for course in summer %}
                <div>
                    <div class="bg-primary">
                        <h6 class="text-light p-2 mb-0">{{ course.course }}</h6>
                    </div>
                    <div class="p-2" style="background: #E5E5E5">
                        {% if course.w %}
                            <div>
                                <p class="d-inline">wykład ({{ course.w.weekly }}h/tydzień): </p>
                                {% for teacher in course.w.teachers %}
                                    {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if course.rep %}
                            <div>
                                <p class="d-inline">repetytorium ({{ course.rep.weekly }}h/tydzień): </p>
                                {% for teacher in course.rep.teachers %}
                                    {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if course.ćw %}
                            <div>
                                <p class="d-inline">ćwiczenia ({{ course.ćw.weekly }}h/tydzień): </p>
                                {% for teacher in course.ćw.teachers %}
                                    {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if course.prac %}
                            <div>
                                <p class="d-inline">pracownia ({{ course.prac.weekly }}h/tydzień): </p>
                                {% for teacher in course.prac.teachers %}
                                    {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if course.ćw_prac %}
                            <div>
                                <p class="d-inline">ćwiczenia+pracownia ({{ course.ćw_prac.weekly }}h/tydzień): </p>
                                {% for teacher in course.ćw_prac.teachers %}
                                    {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if course.sem %}
                            <div>
                                <p class="d-inline">seminarium ({{ course.sem.weekly }}h/tydzień): </p>
                                {% for teacher in course.sem.teachers %}
                                    {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if course.admin %}
                            <div>
                                <p class="d-inline">admin ({{ course.admin.weekly }}h/tydzień): </p>
                                {% for teacher in course.admin.teachers %}
                                    {% if not teacher.name %}
                                        <a href="#{{ teacher.code }}">{{ teacher.code }}</a>,
                                    {% else %}
                                        <a href="#{{ teacher.code }}">{{ teacher.name }}</a>,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div>
    <h3 class="assignment-courses mb-3">Przydział według prowadzących</h3>
    <div class="mb-3">
    </div>
</div>
{% else %}
<h3>Brak danych do wyświetlenia</h3>
{% endif %}
{% endblock %}