{% load filters %}

<div class="d-flex justify-content-between align-items-center">
    <h1 class="d-inline-block">
        {{ course.name }}
        <small class="text-muted">{{ course.semester.get_short_name }}</small>
    </h1>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-sm btn-outline-info float-end align-bottom" href="{% url 'course-student-list' course.slug %}">Lista</a>
        {% if user.is_staff or course.owner == request.user.employee %}
            {% if course.semester.is_current_semester %}
                <a class="btn btn-sm btn-outline-info float-end align-bottom" href="{% url 'proposal-edit' course.offer.slug %}">Edytuj</a>
            {% endif %}
        {% endif %}
    </div>
</div>

<table class="table table-bordered table-md-responsive" id="table-info">
    <style>
        #table-info ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    </style>
    <colgroup>
        <col class="table-info-type"></col>
    </colgroup>
    <tbody>
        <tr>
            <th scope="row">Język wykładowy</th>
            <td>{{ course.get_language_display|capfirst }}</td>
        </tr>
        <tr>
            <th>Opiekun</th>
            <td>
                <a href="{% url 'employee-profile' course.owner.user_id %}"
                    class="person">{{ course.owner.user.get_full_name }}</a>
            </td>
        </tr>
        <tr>
            <th scope="row">Liczba godzin</th>
            <td id="hours">
                <style>
                    #hours ul li {
                        display: inline-block;
                    }
            
                    #hours ul li + li::before {
                        content: '+';
                        margin: 0 .5em;
                    }
                </style>
                {% spaceless %}
                <ul>
                    {% if course.hours_lecture %}<li>{{ course.hours_lecture }} (wyk.)</li>{% endif %}
                    {% if course.hours_exercise %}<li>{{ course.hours_exercise }} (ćw.)</li>{% endif %}
                    {% if course.hours_lab %}<li>{{ course.hours_lab }} (prac.)</li>{% endif %}
                    {% if course.hours_exercise_lab %}<li>{{ course.hours_exercise_lab }} (ćw-prac.)</li>{% endif %}
                    {% if course.hours_seminar %}<li>{{ course.hours_seminar }} (sem.)</li>{% endif %}
                    {% if course.hours_recap %}<li>{{ course.hours_recap }} (rep.)</li>{% endif %}
                </ul>
                {% endspaceless %}
            </td>
        </tr>
        <tr>
            <th scope="row">Rodzaj</th>
            <td>{{ course.course_type }}</td>
        </tr>
        <tr>
            <th><abbr title="European Credit Transfer System">ECTS</abbr></th>
            <td>
                {{ course.points }}
            </td>
        </tr>
        <tr>
            <th scope="row">Polecany dla I roku</th>
            <td>{{ course.recommended_for_first_year|yesno|capfirst }}</td>
        </tr>
        <tr>
            <th scope="row">Egzamin</th>
            <td>{{ course.has_exam|yesno|capfirst }}</td>
        </tr>
        {% if course.tags.all %}
        <tr>
            <th scope="row">Tagi</th>
            <td>
                <ul>
                    {% for tag in course.tags.all %}    
                        <li class="badge bg-success me-2">{{ tag }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if course.effects.all %}
        <tr>
            <th>Grupy efektów kształcenia</th>
            <td>
                <ul>
                    {% for effect in course.effects.all %}
                        <li class="badge bg-info me-2">{{ effect }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>

<div class="description">
    <h2>Opis przedmiotu:</h2>
    {% markdown course.description|default:"Brak" %}
</div>
