<ul>
    {% if course.hours_lecture %}<li>{{ course.hours_lecture }} (wyk.)</li>{% endif %}
    {% if course.hours_exercise %}<li>{{ course.hours_exercise }} (ćw.)</li>{% endif %}
    {% if course.hours_lab %}<li>{{ course.hours_lab }} (prac.)</li>{% endif %}
    {% if course.hours_exercise_lab %}<li>{{ course.hours_exercise_lab }} (ćw-prac.)</li>{% endif %}
    {% if course.hours_seminar %}<li>{{ course.hours_seminar }} (sem.)</li>{% endif %}
    {% if course.hours_recap %}<li>{{ course.hours_recap }} (rep.)</li>{% endif %}
</ul>
