#calendar {
  th {
    font-weight: normal;
  }
  a {
    color: var(--bs-dark);
  }
  .free-day,
  .change-day {
    background-clip: padding-box;
    .fc-col-header-cell-cushion, .fc-daygrid-day-number{
      text-decoration: underline;
      text-decoration-style: dotted;
    }
  }
  .free-day {
    background-color: gainsboro;
  }
  .change-day {
    background-color: beige;
  }
}
