[Unit]
Description=Zapisy gunicorn daemon
After=network.target

[Service]
Restart=always
Type=simple
User=$user$
Group=www-data
WorkingDirectory=/home/$user$/deploy/current/zapisy
ExecStart=/home/$user$/deploy/current/env3/bin/gunicorn \
  --name "zapisy" \
  --workers $num_proc$ \
  --bind=unix:/home/$user$/deploy/current/env3/run/gunicorn.sock zapisy.wsgi:application \
  --log-level=debug \
  --log-file=-

[Install]
WantedBy=vagrant.mount
