[Unit]
Description=Start rqworker default
[Service]
User=$user$
Group=$user$
WorkingDirectory=/home/$user$/deploy/current/zapisy/
ExecStart=/home/$user$/env3/bin/python3 /home/$user$/deploy/current/zapisy/manage.py rqworker default
Type=simple

[Install]
WantedBy=multi-user.target