[Unit]
Description=Start server
[Service]
Restart=always
User=$user$
Group=$user$
WorkingDirectory=/home/$user$/deploy/current/zapisy/
ExecStart=/home/$user$/deploy/current/env3/bin/python3 /home/$user$/deploy/current/zapisy/manage.py runserver 0.0.0.0:8000
Type=simple

[Install]
WantedBy=multi-user.target