[Unit]
Description=Yarn build service
After=yarn.service

[Service]
User=$user$
Group=$user$
TimeoutStartSec=900
WorkingDirectory=/home/$user$/deploy/current/zapisy/
ExecStart=/usr/local/bin/yarn build
Type=oneshot

[Install]
WantedBy=multi-user.target
