[Unit]
Description=Yarn service
[Service]
User=vagrant
Group=vagrant
TimeoutStartSec=900
WorkingDirectory=/home/vagrant/deploy/current/zapisy/
ExecStart=/usr/local/bin/yarn
Type=oneshot

[Install]
WantedBy=multi-user.target
