{% extends "newbase.html" %}

{% load static %}
{% load fereol_common %}
{% load compressed %}
{% block main-subtitle %}Aktualności{% endblock %}

{% block content-class %}narrow{% endblock %}

{% block rss %}
<link href="/feeds/news/" rel="alternate" type="application/rss+xml" title="Aktualności RSS" />
{% endblock %}

{% block styles %}
{% compressed_css 'news' %}
{% endblock %}

{% block js %}
{% compressed_js 'news' %}
{% endblock %}
u
{% block bread %}
<a href="/">Strona główna</a> &raquo;
Aktualności
{% endblock %}


{% block topContent %}
<div class="container">
        <div class="main-filter-input">
            <form class="input-group" method="get">
                <input class="form-control text" type="search" name="q" value="{{ query|default_if_none:''|lower }}"
                    placeholder="Szukaj w tytułach i treści..." />    
                <button  class="btn btn-default" type="reset">x</button>
                <a href="/feeds/news/" title="Aktualności RSS" class="btn btn-default">
                    <img src="{% static "images/rss.png" %}" alt="RSS" />
                </a>
            </form>     
        </div>

        {% if query %}<p> Wyniki wyszukiwania dla "{{ query|lower }}" | <a class="btn btn-default" href="/news">usuń filtr</a></p>{% endif %}
</div>
{% endblock %}

{% block content %}
<h2>Aktualności</h2>
<div id="news-content">
    {% if items %}
    <div class="od-news-list">
        {% for news in items %}
        <div id="od-news-{{news.id}}" class="od-news-item">
            <div class="od-news-header">
                <h3>{{ news.title }}</h3>
                <span class="od-news-date">{{ news.date|date:"l, d.m.Y - G:i" }}</span>
            </div>
            <div class="od-news-body">
                {{ news.body|safe }}
            </div>
            <div class="od-news-footer">
                {{ news.author.first_name }} {{ news.author.last_name }}
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <p>Nie ma ogłoszeń pasujących do zapytania.</p>
    {% endif %}

</div>

<div class="pagination justify-content-center">
    <ul>
        <li class="prev{% if not items.has_previous %} disabled{% endif %}"><a {% if items.has_previous %}href="?page={{ items.previous_page_number }}"
                {% endif %}>Poprzednia</a></li>
        {% for index in page_range %}
            {% if index <= items.number|add:5 and index >= items.number|add:-5 %}
                <li><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endif %}
        {% endfor %}

            <li class="next{% if not items.has_next %} disabled{% endif %}"><a {% if items.has_next %}href="?page={{ items.next_page_number }}"
            {% endif %}>Następna</a></li>
    </ul>
</div>




{% endblock %}