{% extends "enrollment/base.html" %}
{% load render_bundle from webpack_loader %}

{% block top-content %}
    <script id="courses-data" type="application/json">{{ courses_json|safe }}</script>
    <script id="filters-data" type="application/json">{{ filters_json|safe }}</script>
    <div id="course-filter"></div>
{% endblock top-content %}

{% block sidebar %}
	<h3>{{ semester }}</h3>
	<div id="course-list"></div>
{% endblock %}

{% block rendered_bundles %}
    {% render_bundle 'courses-course-list' %}
{% endblock rendered_bundles %}
