{% extends "enrollment/base.html" %}
{% load render_bundle from webpack_loader %}

{% block top-content %}
    <script id="filters-data" type="application/json">{{ filters_json|safe }}</script>
    <div id="course-filter"></div>
{% endblock top-content %}

{% block sidebar-header %}
    {% include "timetable/semester_dropdown.html" with url_pattern_name="courses-semester"%}
{% endblock %}

{% block sidebar-inner %}
    <script id="courses-data" type="application/json">{{ courses_json|safe }}</script>
	<div id="course-list"></div>
{% endblock %}

{% block rendered_bundles %}
    {% render_bundle 'courses-course-list' %}
{% endblock rendered_bundles %}
