{% load poll_answers_extra %}
{% for section in sections %}
    <div class="mb-2">
        <button class='btn btn-default grade-section-toggle-button' id='section-toggle-{{ section.pk }}'>
            -
        </button>
    </div>
    <h4 id="poll-section-title-{{ section.pk }}">{{ section.title }}</h4>
    <span>{{ section.description }}</span>
    {% for field in section.questions %}
        {% if field.type %}
            <div class="form-group">
                <label for="{{ field.title }}-{{ key }}">{{ field.label }}</label>
                {% if field.description %}
                    <span>{{ field.description }}</span>{% endif %}
                {% if field.choice_limit and field.choice_limit > 0 %}
                    <span>Możesz zaznaczyć maksymalnie {{ field.choice_limit }} odpowiedzi</span>
                {% endif %}
                {% if errors and field.title in errors.keys %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for err in errors|get_value:field.title %}
                                <li>{{ err }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if field.type == 'single' %}
                    {% for key, radio in field.widget.choices %}
                        <div class="form-check">
                            <input type="radio" id="{{ field.title }}-{{ key }}"
                                   name="{{ field.title }}" value="{{ key }}"
                                    {% if field.initial == key %}
                                   checked{% endif %}{% if field.disabled %}
                                   disabled="disabled"{% endif %}
                                   class="form-check-input">
                            <label for="{{ field.title }}-{{ key }}" class="form-check-label">
                                {{ radio }}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if field.type == 'multi' %}
                    {% if field.choice_limit %}
                        <input type="hidden" value="{{ field.choice_limit }}">
                    {% endif %}
                    {% for key, radio in field.widget.choices %}
                        <div class="form-check">
                            <input type="checkbox"
                                   class="form-check-input"
                                   id="{{ field.title }}-{{ key }}"
                                   name="{{ field.title }}"
                                   value="{{ key }}"
                                    {% if  key in field.initial %} checked{% endif %}
                                    {% if field.disabled %} disabled{% endif %}>
                            <label class="form-check-label"
                                   for="{{ field.title }}-{{ key }}">{{ radio }}</label>
                            {% if key == -1 %}
                                <input type="text" name="{{ field.other.title }}"
                                       {% if field.other.initial %}value="{{ field.other.initial }}"{% endif %}
                                        {% if field.disabled %} disabled{% endif %}
                                       class="form-control">
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if field.type == 'open' %}
                    <textarea class="form-control" cols="40" rows="5" name="{{ field.title }}"
                              id="{{ field.title }}-{{ key }}" {% if field.disabled %} disabled{% endif %}>
                        {{ field.initial }}
                    </textarea>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
<script language="javascript" type="text/javascript">
    $('.grade-section-toggle-button').click(function () {
        let toToggleId = $(this).attr('id').split('-')[2];
        let toToggleObj = $('#section-content-' + toToggleId);
        toToggleObj.slideToggle(250);
        if ($(this).text() === '+') {
            $(this).text('-');
        } else {
            if ($(this).text() === '-') {
                $(this).text('+');
            }
        }
        return false;
    });
</script>
