{% extends "newbase.html" %}

{% load compressed %}

{#{% block styles %}#}
{#    {% compressed_css 'mainpage' %}#}
{#{% endblock %}#}

{% block main-subtitle %}Strona główna{% endblock %}

{% block content %}
    <div class="col">
        <div class="row">
            <div class="col p-3">
                <h1>Aktualności</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="jumbotron ">
                    <div class="col-10">
                        <h3 class="display-5">{{ news.title }}</h3>
                        <h6 class="display-5">{{ news.date|date:"l, d.m.Y - G:i" }}
                            - {{ news.author.get_full_name }}</h6>
                        <p class="lead justify-content-center">{{ news.body|safe }}</p>
                    </div>
                    <div class="col">
                        <a class="btn btn-primary" href="{% url 'news-all' %}">Więcej</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="display-5">System Zapisów</h2>
                <p>System zapisów na zajęcia w Instytucie Informatyki Uniwersytetu Wrocławskiego.</p>
                <a class="btn btn-secondary" href="{% url 'course-list' %}">Przejdź</a>
            </div>
            <div class="col">
                <h2 class="display-5">Oferta Dydaktyczna</h2>
                <p>System kształtowania oferty dydaktycznej w Instytucie Informatyki.</p>
                <a class="btn btn-secondary" href="{% url 'offer-main' %}">Przejdź</a>
            </div>
            <div class="col">
                <h2 class="display-5">Ocena zajęć</h2>
                <p>System oceny zajęć w Instytucie Informatyki Uniwersytetu Wrocławskiego.</p>
                <a class="btn btn-secondary" href="{% url 'grade-main' %}">Przejdź</a>
            </div>
        </div>
        <hr class="col-xs-12">
    </div>
{% endblock %}
