{% load i18n %}

<table id="enr-schedule-listByCourse" class="table table-striped">
    <thead>
        <tr>
            {# Translators: Tytuł kolumny w tabelce #}
            <th scope="col">{% trans "Przedmiot" %}</th>
            {% if user.student %}
                {# Translators: Tytuł kolumny w tabelce #}
                <th class="ects" scope="col">{% trans "ECTS" %}</th>
            {% else %}
                {# Translators: Tytuł kolumny w tabelce #}
                <th class="ects" scope="col">{% trans "Godziny" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td><strong>Suma punktów ECTS:</strong></td>
            <td class="ects">{{ sum_points }}</td>
        </tr>
    </tfoot>
    <tbody>
        {% regroup groups|dictsort:"course_id" by course as courses %}
        {% for course in courses %}
        <tr class="courseHeader">
            <td class="name" scope="col">
                <a href="{% url 'course-page' course.grouper.slug %}">
                    {{ course.grouper.name }}
                </a>

            </td>
            <td rowspan="2" class="ects">
                {{ course.grouper.points }}
            </td>
        </tr>
        <tr class="courseDetails">
            <td>
                <ul>
                    {% for item in course.list %}
                    {% with item as group %}
                    <li>
                        <span class="type">{{ group.get_type_display }}:</span>
                        {% for term in group.term.all %}
                        <span class="term">
                            {{ term.get_dayOfWeek_display }}
                            {{ term.start_time|time:'G:i' }}-{{ term.end_time|time:'G:i' }}
                        </span>
                        <span class="classroom">sala:
                                {% for classroom in term.classrooms.all %}
                                {{ classroom.number }}
                                {% endfor %}
                        </span>
                        {% endfor %}
                    </li>
                    {% endwith %}
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
