{% load render_bundle from webpack_loader %}

<div class="dropdown" id="semester-dropdown-div" data-js-sem-depend>
    <div class="btn-group btn-block mb-3 w-100">
        <button class="btn btn-light" disabled>
            <strong>Semestr {{ semester }}</strong>
        </button>
        <button class="btn btn-light dropdown-toggle dropdown-toggle-split"
                href="#" role="button" id="semester-dropdown" 
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="semester-dropdown">
            {% for semester in all_semesters %}
                <a class="dropdown-item semester-link" data-js-link
                    href="{% if user_id %}
                            {% url url_pattern_name user_id semester.pk %}
                        {% else %}
                            {% url url_pattern_name semester.pk %}
                        {% endif %}">
                    {{ semester }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% if async_fetch is True %}
    {% render_bundle 'timetable-semester-fetch' %}
{% endif %}