{% extends "enrollment/base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block main-subtitle %}{# Translators: podtytuł #}{% trans "Plan zajęć" %}{% endblock %}

{% block enrollment_menu_schedule %} class="active"{% endblock %}

{% block bread %}
    <li class="breadcrumb-item">
        <a href="{% url 'main-page' %}">{% trans "Strona główna" %}</a>
    </li>

    <li class="breadcrumb-item">
        <a href="{% url 'course-list' %}">{% trans "Zapisy" %}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Plan zajęć</li>
{% endblock %}


{% block all-content %}
    <div class="row my-4">
        <div class="col-lg-9 col-12 order-last order-lg-first">
            {% if semester.is_current_semester %}
                <p class="text-end">
                    <a class="btn btn-sm btn-light" href="{% url 'calendar-export' %}">
                        <i class="fa fa-calendar-alt"></i> Eksportuj plan zajęć
                    </a>
                </p>
            {% endif %}
        </div>
        <nav class="col-lg-3 col-12 d-print-none order-first order-lg-last mb-3">
            {% include "timetable/semester_dropdown.html" with url_pattern_name="my-timetable-semester" async_fetch=True %}
        </nav>
    </div>

    <div class="row m-0" id="timetable">
    </div>
    <div id="timetable-data-div" data-js-sem-depend>
        {{ groups_dicts|json_script:"timetable-data" }}
    </div>
    {% render_bundle 'timetable-timetable-component' %}
    
    {% if user.student %}
    <h3>Twoje przedmioty</h3>
    <div class="table-responsive" id="courses-table" data-js-sem-depend>
        {% include "timetable/courses_table.html" %}
    </div>
    {% endif %}
{% endblock %}

