{% extends "grade/newbase.html" %}

{% block bread %}
    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'grade-main' %}">Ocena zajęć</a></li>
    <li class="breadcrumb-item active">Pobieranie biletów</li>
{% endblock %}

{% block connection-choice %} class="active"{% endblock %}

{% block main-subtitle %}Pobierz klucze{% endblock %}

{% block content %}
    {% if tickets %}
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3> Pomyślnie wygenerowano klucze.</h3>
                    <h3>Zapisz je w bezpiecznym miejscu - <strong>nie ma powrotu do tego ekranu</strong>.</h3>
                    <form action=".">
                        <div class="form-group">
                            <textarea class="form-control" id="keys" name="keys" cols="80" rows="20"
                                      readonly>{{ tickets }}</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert-message">
            Nie udało się pobrać kluczy do oceny zajęć.
        </div>
    {% endif %}
{% endblock %}
