{% extends "grade/newbase.html" %}

{% block main-subtitle %}Informacje{% endblock %}

{% block content %}
    <div class="col">
        {% if grade %}
            <h3>Zasady oceny</h3>
            <div>
                <ol>
                    <li>
                        <h4>Cele</h4>
                        <p>
                            Ocena zajęć ma na celu w pełni anonimowe zebranie informacji na temat zajęć prowadzonych w
                            Instytucie Informatyki UWr. Posiadając takie informacje, jesteśmy w stanie pracować nad
                            poprawą jakości naszych studiów.
                        </p>
                    </li>
                    <li>
                        <h4>Przebieg</h4>
                        <p>
                            Student po zalogowaniu powinien pobrać klucze, które umożliwią mu wypełnienie ankiet
                            oceniających zajęcia, na które był zapisany w danym semestrze. Klucze (które są fragmentem
                            tekstu) moga zostac stworzone na dwa sposoby i nie są w żaden sposób
                            powiązane z użytkownikiem. Pierwszy sposób to wygenerowanie kluczy przez System Zapisow po
                            stronie serwera. Drugi to samodzielne stworzenie kluczy do oceny według kroków
                            opisanych poniżej.
                            Klucze należy skopiować z okna przeglądarki i zapisać w bezpiecznym
                            miejscu. W czasie, gdy ocena jest aktywna, każdy użytkownik może, używając swoich kluczy,
                            dokonać oceny (oczywiście bez logowania się do systemu). Operację tę można wykonywać
                            wielokrotnie, dodając nowe oceny i ewentualnie zmieniając swoje poprzednie wpisy.
                        </p>
                    </li>
                    <li>
                        <h4>Samodzielne generowanie kluczy</h4>
                        <p>
                            Ocena Systemu Zapisow opiera się na protokole ślepych podpisów z użyciem kluczy RSA.
                            Aby samodzielnie wygenerować klucze należy wykonać nastepujace kroki:
                        </p>
                        <ol>
                            <li>
                                Pobierz klucze publiczne dla swoich ankiet
                                <a href="{% url 'grade-ticket-keys-list' %}">tutaj</a>
                                i zapisz je w bezpiecznym miejscu.
                            </li>
                            <li>Wygeneruj losową, {{ rand_bits }}-bitową liczbe zwaną dalej m - jest to klucz, który
                                będziemy zaciemniać i podpisywać.
                            </li>
                            <li>Dla każdej ankiety, wylosuj liczbę k względnie pierwszą z {{ rand_bits }}, oraz przy
                                użyciu odpowiadającego ankiecie klucza publicznego ukryj (blinding) klucz m.
                            </li>
                            <li>
                                Zaślepione kupony t, razem z odpowiadającymi im identyfikatorami ankiet wyślij do
                                podpisu <a href="{% url 'grade-ticket-sign-tickets' %}">tutaj</a>. Otrzymasz podpisane
                                kluczami prywatnymi kupony st.
                            </li>
                            <li>
                                Aby uzyskać dostęp do <a href="{% url 'grade-poll-tickets-enter' %}">Oceny</a> wprowadź
                                przy jej otwieraniu dane w postaci:
                                <pre>
                                id: identyfikator ankiety\n
                                t\n
                                st\n
                                </pre>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h4>Bonus</h4>
                        <p>
                            Każdy udział w ocenie daje *24 godzinny bonus* do otwarcia zapisów na zajęcia w kolejnym
                            roku akademickim (maksymalnie 48 godzin). Ponieważ ocena jest anonimowa, nie jesteśmy w
                            stanie zapamiętać rzeczywistego udziału w ocenie, pamiętamy zatem jedynie fakt pobrania
                            kluczy -- niemniej jednak gorąco apelujemy, by każdy pobierający klucze rzeczywiście je
                            wykorzystał do przeprowadzenia oceny.
                        </p>
                    </li>
                </ol>
            </div>
        {% else %}
            <p class="disabled-link">Ocena nie jest w tej chwili aktywna.</p>
        {% endif %}
    </div>
{% endblock %}

