{% extends "newbase.html" %}

{% block events_active %} class="active"{% endblock %}


{% block main-subtitle %}Rezerwacja Sal{% endblock %}

{% block system_menu %}
    <li {% block enrollment_menu_prototype %}{% endblock %} class="nav-item">
        <a class="nav-link" href="{% url 'events:classrooms' %}">Sale</a>
    </li>

    <li {% block schedule_events %}{% endblock %} class="nav-item">
        <a class="nav-link" href="{% url 'events:classrooms' %}">Wydarzenia</a>
    </li>

    <li {% block schedule_session %}{% endblock %} class="nav-item">
        <a class="nav-link" href="{% url 'events:classrooms' %}">Egzaminy</a>
    </li>

    {% if user.is_authenticated %}
    <li {% block schedule_reservation %}{% endblock %} class="nav-item">
        <a class="nav-link" href="{% url 'events:classrooms' %}">Rezerwuj</a>
    </li>
    {% endif %}

    {% if perms.schedule.manage_events %}
        <li {% block schedule_manage %}{% endblock %} class="nav-item">
            <a class="nav-link" href="{% url 'events:reservations' %}">Zarządzaj</a>
        </li>

        <li {% block conflicts_manage %}{% endblock %} class="nav-item">
            <a class="nav-link" href="{% url 'events:conflicts' %}">Zarządzaj</a>
        </li>
    {% endif %}

    {% if user.is_authenticated %}
        <li {% block schedule_history %}{% endblock %} class="nav-item">
            <a class="nav-link" href="{% url 'events:classrooms' %}">Historia</a>
        </li>
    {% endif %}

    {% if perms.schedule.manage_events %}
    <li {% block schedule_statistic %}{% endblock %} class="nav-item">
        <a class="nav-link" href="{% url 'events:statistics' %}">Statystyki</a>
    </li>
    {% endif %}

    {% if perms.schedule.manage_events %}
        <li {% block schedule_report %}{% endblock %} class="nav-item">
            <a class="nav-link" href="{% url 'events:events_report' %}">Raport</a>
        </li>
    {% endif %}

{# end system_menu #}
{% endblock %}
