{% extends 'schedule/events_report.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load compressed %}

{% block events_report %} class="active"{% endblock %}

{% block bread %}
    <li class="breadcrumb-item"><a href="{% url 'main-page' %}">Strona główna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'events:classrooms' %}">Sale</a></li>
    <li class="breadcrumb-item"><a href="{% url 'events:events_report' %}">Raporty</a></li>
    <li class="breadcrumb-item active" aria-current="page">Raport sal z datą</li>
{% endblock %}

{% block reporttitle %}Raport sal z datą{% endblock %}

{% block reportformview %}
    <form action="{% url 'events:events_report_date' %}" method="post" id="reportForm">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="form-group">
            <div class="input-group">
                {{ form.rooms }}
                <div class="input-group-append" style="width: 5em;">
                    <button type="button" id="select-all-button" class="btn btn-dark w-100">
                        <span style="writing-mode: tb-rl; writing-mode: vertical-rl;">
                            Zaznacz wszystkie
                        </span>
                    </button>
                </div>
            </div>
            {{ form.rooms.errors }}
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">{{ form.beg_date.label }}</label>
                </div>
                {{ form.beg_date }}
                <div class="input-group-prepend input-group-append">
                    <label class="input-group-text">{{ form.end_date.label }}</label>
                </div>
                {{ form.end_date }}
            </div>
        </div>


        <input type="submit" value="Generuj raport" class="btn btn-success btn-lg btn-block">
    </form>
{% endblock %}

{% block rendered_bundles %}
    {% render_bundle "schedule-report" %}
{% endblock %}
