{% extends 'schedule/events_report.html' %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}

{% block events_report %} class="active"{% endblock %}

{% block bread %}
    <li class="breadcrumb-item"><a href="{% url 'main-page' %}">Strona główna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'events:classrooms' %}">Sale</a></li>
    <li class="breadcrumb-item"><a href="{% url 'events:events_report' %}">Raporty</a></li>
    <li class="breadcrumb-item active" aria-current="page">Wydruki na sale</li>
{% endblock %}

{% block reporttitle %}Wydruki na sale{% endblock %}

{% block reportformview %}
    <form action="{% url 'events:events_report_week' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="form-group">
            <div class="input-group">
                {{ form.rooms }}
                <div class="input-group-append" style="width: 5em;">
                    <button type="button" id="select-all-button" class="btn btn-dark w-100">
                        <span style="writing-mode: tb-rl; writing-mode: vertical-rl;">
                            Zaznacz wszystkie
                        </span>
                    </button>
                </div>
            </div>
            {{ form.rooms.errors }}
        </div>

        <div class="form-group">
            <div id="selector-widget">
            {{ form.weeks }}
            </div>
            {{ form.weeks.errors }}
        </div>
        <input type="submit" value="Generuj raport" class="btn btn-success btn-block btn-lg">
    </form>
{% endblock %}


{% block rendered_bundles %}
    {% render_bundle "schedule-report" %}
{% endblock %}
