{% extends 'schedule/events_report.html' %}
{% load render_bundle from webpack_loader %}

{% block events_report %} class="active"{% endblock %}

{% block bread %}
    <li class="breadcrumb-item"><a href="{% url 'main-page' %}">Strona główna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'events:classrooms' %}">Sale</a></li>
    <li class="breadcrumb-item"><a href="{% url 'events:events_report' %}">Raporty</a></li>
    <li class="breadcrumb-item active" aria-current="page">Raport sal z datą</li>
{% endblock %}

{% block reporttitle %}{% endblock %}

{% block all-content %}
  <div class='mb-5 d-print-none'>
      <a class="btn btn-light print-report float-right">
          <i class="fa fa-print"></i>
          Drukuj
      </a>
  </div>

  <div class="pt-5 mb-4">
    <h1 align="center" class="display-1">Raport Sal</h1>
    <h3 align="center" class="display-3">{{ beg_date|date:"Y-m-d" }} &mdash; {{ end_date|date:"Y-m-d" }}</h3>
  </div>

  {% for room, terms_list in events %}
    <h3 class="display-3">{{ room }}</h3>
    {% if terms_list %}
      <table class="table table-sm">
        <thead>
          <tr>
            <th style="width: 25%">Godziny</th>
            <th style="width: 55%">Wydarzenie</th>
            <th style="width: 20%">Autor</th>
          </tr>
        </thead>
        <tbody>
          {% for term in terms_list %}
          <tr>
            <td>{{term.day}} {{term.start}} - {{term.end}}</td>
            {% with term.event.title.strip as evt_title %}
              <td>
              {% if evt_title|length > 0 %}
                {{ evt_title }}
              {% else %}
                &lt;brak nazwy&gt;
              {% endif %}
              </td>
            {% endwith %}
            <td>{{term.event.author.get_full_name}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Brak wydarzeń w tej sali.</p>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block rendered_bundles %}
    {% render_bundle "schedule-report" %}
{% endblock %}
