[Unit]
Description=Start rqworker default
[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/vagrant/deploy/current/zapisy/
ExecStart=/home/vagrant/env3/bin/python3 /vagrant/deploy/current/zapisy/manage.py rqworker default
Type=simple

[Install]
WantedBy=vagrant.mount