[Unit]
Description=Start rqworker default
[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/home/vagrant/deploy/current/zapisy/
ExecStart=/home/vagrant/env3/bin/python3 /home/vagrant/deploy/current/zapisy/manage.py rqworker default
Type=simple

[Install]
WantedBy=multi-user.target