[Unit]
Description=Start server
[Service]
Restart=always
User=vagrant
Group=vagrant
WorkingDirectory=/vagrant/deploy/current/zapisy/
ExecStart=/home/vagrant/env3/bin/python3 /vagrant/deploy/current/zapisy/manage.py runserver 0.0.0.0:8000
Type=simple

[Install]
WantedBy=vagrant.mount