[Unit]
Description=Start server
[Service]
Restart=always
User=vagrant
Group=vagrant
WorkingDirectory=/server/deploy/current/zapisy/
ExecStart=/server/env3/bin/python3 /server/deploy/current/zapisy/manage.py runserver 0.0.0.0:8000
Type=simple

[Install]
WantedBy=multi-user.target