[Unit]
Description=Yarn devw service
After=yarn.service

[Service]
User=vagrant
Group=vagrant
TimeoutStartSec=900
WorkingDirectory=/home/vagrant/deploy/current/zapisy/
ExecStart=/usr/local/bin/yarn devw
Type=simple

[Install]
WantedBy=multi-user.target
