-r requirements.common.txt

# Reduce testing time by using binary psycopg2 package.
psycopg2-binary==2.9.13

factory_boy==3.3.3
Faker==38.2.0
parameterized==0.9.0
freezegun==1.5.5
tblib==3.2.2

flake8==7.3.0
flake8-docstrings==1.7.0
flake8-import-order==0.19.2
