Django==5.2.17
django-cas-ng==5.1.1
django-crispy-forms==2.7
crispy-bootstrap4==2026.2
django-environ==0.14.0
django-extensions==4.1
django-filter==26.1
redis==6.4.0
rq==2.12.0
django-rq==4.2.0
django-webpack-loader==3.2.4
djangorestframework==3.18.1
django-pagedown==2.2.1

ipdb==0.13.13
prompt-toolkit==3.0.53
ipython==9.17.1
pycryptodome==3.23.0
rollbar==1.5.0
newrelic==13.6.0
gunicorn==26.2.0
python-dateutil==2.9.0.post0
# Memcached client used by Django's PyMemcacheCache backend.
pymemcache==4.0.0
more-itertools==11.1.0
requests==2.32.5
# PyYAML is used for fixtures.
pyyaml==6.0.3
# Bokeh - library used for plotting in views displaying Poll results.
# Keep in sync with the @bokeh/bokehjs version in package.json.
bokeh==3.10.0
numpy==2.5.3

gspread==6.2.1
google-auth==2.58.0
typing-extensions==4.16.0
# We use html2text for one-off migration from HTML to markdown.
html2text==2025.4.15
