{% extends 'offer/proposal/proposal.html' %}
{% load compressed %}
{% load filters %}

{% block js %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
    <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
    <script type="text/javascript" src="/fereol_admin/jsi18n/"></script>
    <!-- <script src="//cloud.tinymce.com/stable/tinymce.min.js"></script> -->
    <!-- <script>tinymce.init({ selector:'textarea' });</script> -->
    {% compressed_js 'proposal_edit' %}
    <style>
        label { width: 150px;}
        textarea,input,select {width: 100%;}
        #id_entity-exam, #id_entity-english{width: auto !important; box-shadow: none !important;}
        .hours-table {width: 100% !important;}
        tr.haserrors {background-color: #ffd1d1;}
        td.hours-col input {width:100px;}
        td.hours-col {width:350px;}
        th.name-col input {width:300px;}
        th.name-col {width:550px;}
        div#main-content form {width:770px;}
        a.delete-row {margin-left: 15px !important;}
    </style>
    <script type="text/javascript">
        types_data = {{ types_data|safe }};
        proposal_init(types_data);
    </script>
{% endblock %}


{% block main-subtitle %}
    {% if proposal %}
        {{ proposal.name }} - Edycja
    {% else %}
        Dodaj nową propozycję
    {% endif %}{% endblock %}

{% block bread %}
    <a href="/">Strona główna</a> &raquo;
    <a href="{% url 'offer-main' %}">Oferta dydaktyczna</a> &raquo;
    <a href="{% url 'my-proposal' %}">Moje przedmioty</a> &raquo;
    {% if proposal %}
    <a href="{% url 'my-proposal-show' proposal.slug %}">{{ proposal.name }}</a> &raquo;
        Edytuj
    {% else %}
        Dodaj nowy
    {% endif %}
    {# end bread #}
{% endblock %}

{% block content %}
    {% if proposal %}
        <form action="{% url 'proposal-edit' proposal.slug %}" method="POST">
    {%  else %}
        <form action="{% url 'proposal-form' %}" method="POST">
    {% endif %}
        {% csrf_token %}
            <table class="table text-muted">
            {% for field in form %}
                {% if not field.name in 'lectures,exercises,repetitions,laboratories,exercises_laboratiories,seminars,ects'|slice:',' %}
                <tr>
                    <th>
                    {% if field.field.required %}
                    <span class="text-muted" style="position:absolute; left:160px;">*</span>
                    {% endif %}
                    <span class="text-right">{{field.label_tag}}</span>
                    
                    </th>
                    {% if field.errors %}
                    <td>{{field | add_class:"form-control"}}</td>
                    <td>
                        {{field.errors}}
                    </td>
                    {% else %}
                    <td class="text-left">{{field | add_class:"form-control"}}</td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
        </table>

        <table class="table text-muted">
            {{ desc }}
            {% for field in syllabus %}
                {% if not field.name in 'exam_hours,tests_hours,project_presentation_hours'|slice:',' %}
                <tr>
                    <th>
                    {% if field.field.required %}
                    <span style="position:absolute; left:160px;">*</span>
                    {% endif %}
                    {{field.label_tag}}
                    </th>
                    {% if field.errors %}
                    <td>{{field}}</td>
                    <td>
                        {{field.errors | add_class:"form-control"}}
                    </td>
                    {% else %}
                    <td colspan="2">{{field | add_class:"form-control"}}</td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        <table id="hours-table" class="table text-muted">
        <h3>Nakład pracy studenta</h3>
        <tr>
            <th></th>
            <th class="text-left">Forma aktywności studenta</th>
            <th class="text-left">Liczba godzin</th>
        </tr>
        <tr>
            <th><label>Godziny zajęć</label></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th></th>
            <th class="name-col">repetytorium</th>
            <td class="hours-col">{{ form.repetitions | add_class:"form-control"}}</td>
        </tr>
        <tr>
            <th></th>
            <th class="name-col">wykład</th>
            <td class="hours-col">{{ form.lectures | add_class:"form-control"}}</td>
        </tr>
        <tr>
            <th></th>
            <th class="name-col">ćwiczenia</th>
            <td class="hours-col">{{ form.exercises | add_class:"form-control"}}</td>
        </tr>
        <tr>
            <th></th>
            <th class="name-col">pracownię</th>
            <td class="hours-col">{{ form.laboratories | add_class:"form-control"}}</td>
        </tr>
        <tr>
            <th></th>
            <th class="name-col">ćwiczenio-pracownię</th>
            <td class="hours-col">{{ form.exercises_laboratiories | add_class:"form-control"}}</td>
        </tr>
        <tr>
            <th></th>
            <th class="name-col">seminarium</th>
            <td class="hours-col">{{ form.seminars | add_class:"form-control"}}</td>
        </tr>
        <tr>
            <th></th>
            <th class="name-col">egzamin</th>
            <td class="hours-col">{{ syllabus.exam_hours | add_class:"form-control"}}</td>
        </tr>
        <tr>
            <th></th>
            <th class="name-col">sprawdziany/kolokwia</th>
            <td class="hours-col">{{ syllabus.tests_hours | add_class:"form-control"}}</td>
        </tr>
        <tr>
            <th></th>
            <th class="name-col">prezentacja projektu</th>
            <td class="hours-col">{{ syllabus.project_presentation_hours | add_class:"form-control"}}</td>
        </tr>
        <tr>
            <th><label>Praca własna studenta</label></th>
            <th></th>
            <th></th>
        </tr>
        {% for form in student_work_formset.forms %}
        <tr class="dynamic-formset">
            <th>{{ form.name.errors }}{{ form.hours.errors }}</th>
            <th class="name-col">
              {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
              {{ form.id | add_class:"form-control"}}
              {{ form.name | add_class:"form-control"}}
            </th>
            <td class="hours-col form-row">{{ form.hours  | add_class:"form-control"}}</th>
        </tr>
        {% endfor %}
        </table>
        {{ student_work_formset.management_form }}
        <table class="table text-muted">
        <tr>
            <th>Suma godzin</th>
            <td></td>
            <td id="target_sum"></td>
        </tr>
        <tr>
            <th>Powinno być (z dokładnością do 20h)</th>
            <td></td>
            <td id="hours_should_be">{% widthratio form.ects.value 1 25 %}</td>
        </tr>

        <tr>
        </tr>
            <th>ECTS</th>
            <td></td>
            <td>{{ form.ects | add_class:"form-control"}}</td>
        </table>
        <button type="submit" class="btn btn-success" onclick="beforeSubmitButton('id_entity-name','id_entity-name_en')">Zapisz</button>
    </form>
{% endblock %}
